<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-resource.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/todo.css">
    <script type="text/javascript" src="js/todo.js"></script>
    <title>ToDo list</title>
</head>
<body>

<div ng-controller="TodoController">
    Total Todos: {{totalTodos()}}

    <ul class="list-unstyled">
        <li ng-repeat="todo in data.todos">
            <label>
                <input type="checkbox" ng-model="todo.done">
            </label>
            <span ng-class="{'todo-done' : todo.done}">{{todo.todo}}</span>
        </li>
    </ul>
    <form class="form-horizontal">
        <label>New todo
            <input type="text" ng-model="todoFormData" data-ng-model-instant>
            <button type="submit" ng-click="addTodo()"><span class="glyphicon-plus"></span></button>
        </label>
    </form>

    <pre data-ng-model="debug" data-ng-show="false">JSON ={{ data | json }}</pre>
</div>

</body>
</html>